**/*.pyc
*.cquery
*.sln
*.swp
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.DS_Store
.lock-waf*
.vs
.vscode/
.vscode/.ropeproject
.waf*
Debug
build
cquery_diagnostics.log
e2e_cache
foo
libcxx
waf-*
waf2*
waf3*
x64
cquery_log.txt
