.cquery_cached_index
.DS_Store
.lock-waf*
.vs
.vscode/
.vscode/.ropeproject
.waf*
*.cquery
*.sln
*.swp
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
**/*.pyc
build
cquery_diagnostics.log
cquery_log.txt
Debug
e2e_cache
foo
libcxx
vscode-extension.vsix
waf-*
waf2*
waf3*
x64
