[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/miloyip/rapidjson
[submodule "third_party/doctest"]
	path = third_party/doctest
	url = https://github.com/onqtam/doctest
[submodule "third_party/loguru"]
	path = third_party/loguru
	url = https://github.com/emilk/loguru
